<!DOCTYPE html>
<html>

<head>
    <title>Catalogue</title>
    <!-- External dependendencies related to javascripts -->
    <script src="jss/angular.js"></script>
    <script src="jss/angular-route.js"></script>
    <script src="jss/bootstrap.min.js"></script>
    <!-- External dependencies related to stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- File containing router information -->
    <script src="jss/app.js"></script>
    <!-- Controllers -->
    <script src="jss/SearchController.js"></script>
    <script src="jss/CreateNewController.js"></script>
    <script src="jss/BookmarksController.js"></script>
    <script src="jss/TopHitsController.js"></script>
    <!-- Custom stylesheets -->
    <link rel="stylesheet" href="css/style.css" />
</head>

<body ng-app="myApp">
    <div class="main text-center" text-center>
        <h3 class="display-5">Catalogue Engine</h3>
        <p>Note maker, note taker, note searcher and much more...</p>
    </div>
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link" href="#!/search">Search</a>
        </li>
<!--        <li class="nav-item">
            <a class="nav-link" href="#!/createNew">Create New</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!/bookmarks">Bookmarks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!/topHits">Top Hits</a>
        </li>-->
    </ul>
    <br />
    <br />
    <div ng-view></div>
</body>

</html>
